extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row.mb-4
      .col-12
        .box-head
          +box-head(pageTitle)

    .row
      each singer in singers
        .col-md-6.col-lg-4.mb-4
          .card.h-100.shadow-sm
            img.card-img-top(src=singer.avatar, alt=singer.fullName)
            .card-body.d-flex.flex-column
              h5.card-title.mb-3 #{singer.fullName}
              a.btn.btn-primary.mt-auto(href=`/singers/${singer.slug}`) Xem chi tiết
